* {
  font-family: "Source Code Pro", monospace;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

body {
  padding: 0px;
  margin: 0px;
  /* height: 100vh; */
  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
}

#root {
  height: 100vh;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}

.btn {
  color: black;
  transition-duration: 0.5s;
}

.btn:hover {
  background-color: black;
  color: white;
}

#search-btn {
  font-size: xx-large;
}

.h100vh {
  height: 90vh !important;
}

.form-group {
  margin-bottom: 10px;
  position: relative;
}
.form-control {
  border-radius: 0.375rem;
  border: 1px solid #ced4da;
  padding: 10px;
}
.form-control:focus {
  border-color: black;
  box-shadow: 0 0 0px rgb(0, 0, 0);
}

.input-wrapper {
  position: relative;
}

.form-control {
  padding-right: 30px; /* Make space for the eye icon */
}
