* {
  font-family: "Raleway", sans-serif;
  color: white;
}

body {
  padding: 0px;
  margin: 0px;
  background: rgb(69, 71, 75);
  background: linear-gradient(
    180deg,
    rgba(69, 71, 75, 1) 0%,
    rgba(28, 82, 189, 1) 100%
  );
}

.card {
  height: 100vh;
  border-radius: 25px;
  background-color: beige;
  margin: 5px auto;
}

.btn {
  color: black;
  transition-duration: 0.5s;
}

.btn:hover {
  background-color: black;
  color: white;
}
