* {
  font-family: "Nova Mono", monospace;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

body {
  padding: 0px;
  margin: 0px;
  /* height: 100vh; */
  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
}

#root {
  height: 100vh;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}

.btn {
  color: black;
  transition-duration: 0.5s;
}

.btn:hover {
  background-color: black;
  color: white;
}

#search-btn {
  font-size: xx-large;
}

.box-shadow {
  border: 1px solid black;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
