#container-about {
  overflow-x: scroll;
  background: rgb(255, 255, 255);

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 219, 0, 0.9) 50%,
    rgba(0, 212, 255, 0.9) 100%
  );
}
