#container-client-home {
  height: auto;
}

#search-bar {
  max-width: 0%;
  transition: max-width 1s ease-in-out;
}

#search-bar.show {
  max-width: 100%;
}

/* a {
  text-decoration: none;
  color: black !important;
  font-weight: normal;
} */
