#container-client-home {
  height: 100vh;
}

#search-bar {
  max-width: 0%;
  transition: max-width 1s ease-in-out;
}

#search-bar.show {
  max-width: 100%;
}

#card-trending-img {
  height: 200px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}
