.navbar {
  box-shadow: 1px 2px 10px rgb(0, 0, 0);
}

hr {
  box-shadow: 1px 2px 10px rgb(0, 0, 0);
}

.nav-link {
  text-decoration: none;
}

.nav-item {
  color: black !important;
  transition-duration: 0.5s;
  text-decoration: none;
  font-size: 14px !important;
}
