input,
label,
p {
  color: black;
}

input {
  border-color: black;
}

#container-login {
  border-radius: 20px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 2px 3px 0.5px rgba(0, 0, 0, 0.2);
}

hr {
  color: black;
  font-weight: bolder;
}
