input,
label,
p {
  color: black;
}

input {
  border-color: black;
}

#container-login {
  height: 100vh;
  /* background: rgb(69, 71, 75);
  background: linear-gradient(
    180deg,
    rgba(69, 71, 75, 1) 0%,
    rgba(28, 82, 189, 1) 100%
  ); */
  border-radius: 20px;
  background-image: url("login-image.jpg");
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

hr {
  color: black;
  font-weight: bolder;
}
