#container-register {
  /* height: 100vh; */
  border-radius: 20px;
  /* background-image: url("login-image.jpg"); */
  background: rgb(255, 255, 255);

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 219, 0, 0.9) 50%,
    rgba(0, 212, 255, 0.9) 100%
  );
  background-size: cover; /* Adjusts the size of the background image */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Ensures the image does not repeat */
}

.form-group {
  margin-bottom: 10px;
  position: relative;
}
.form-control {
  border-radius: 0.375rem;
  border: 1px solid #ced4da;
  padding: 10px;
}
.form-control:focus {
  border-color: black;
  box-shadow: 0 0 5px rgb(0, 0, 0);
}

.input-wrapper {
  position: relative;
}

.form-control {
  padding-right: 30px; /* Make space for the eye icon */
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust this value to position the icon within the input */
  transform: translateY(-50%);
  cursor: pointer;
}
