#container-register {
  height: 100vh;
  border-radius: 20px;
  background-image: url("login-image.jpg");
  background-size: cover; /* Adjusts the size of the background image */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Ensures the image does not repeat */
}
